@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Lato */
  @font-face {
    font-family: "Lato";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/lato/Lato-Light.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/lato/Lato-LightItalic.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/lato/Lato-Regular.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/lato/Lato-Italic.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    src: url("/fonts/lato/Lato-Bold.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/lato/Lato-BoldItalic.woff2");
  }

  :root {
    --background: 240 2% 95%;
    --foreground: 240 2% 9.8%;
    --muted: 240 2% 94%;
    --muted-foreground: 240 2% 57.06%;
    --popover: 240 2% 100%;
    --popover-foreground: 240 2% 9.8%;
    --card: 240 2% 100%;
    --card-foreground: 240 2% 9.8%;
    --border: 240 2% 90%;
    --input: 240 2% 90%;
    --primary: 10.91 84.62% 56.67%;
    --primary-foreground: 327 0% 100%;
    --secondary: 240 2% 91%;
    --secondary-foreground: 240 2% 9.8%;
    --accent: 240 2% 94%;
    --accent-foreground: 240 2% 9.8%;
    --destructive: 0 80.53% 55.69%;
    --destructive-foreground: 0 0% 100%;
    --ring: 240 2% 40%;
    --chart-1: 10.91 84.62% 56.67%;
    --chart-2: 240 2% 73%;
    --chart-3: 240 2% 50%;
    --chart-4: 240 2% 30%;
    --chart-5: 240 2% 15%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 2% 8%;
    --foreground: 240 2% 85%;
    --muted: 240 2% 10%;
    --muted-foreground: 240 2% 46.67%;
    --popover: 240 2% 7.45%;
    --popover-foreground: 240 2% 63.92%;
    --card: 240 2% 11%;
    --card-foreground: 240 2% 83.08%;
    --border: 240 1% 17%;
    --input: 225 1% 17%;
    --primary: 10.91 84.62% 56.67%;
    --primary-foreground: 327 0% 100%;
    --secondary: 240 2% 19%;
    --secondary-foreground: 240 2% 86.92%;
    --accent: 240 2% 13%;
    --accent-foreground: 240 2% 79.23%;
    --destructive: 0 80.85% 55.81%;
    --destructive-foreground: 0 0% 100%;
    --ring: 240 2% 76.92%;
    --chart-1: 10.91 84.62% 56.67%;
    --chart-2: 240 2% 77%;
    --chart-3: 240 2% 40%;
    --chart-4: 240 2% 24.9%;
    --chart-5: 240 2% 12.94%;
  }


  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}