@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Lato */
  @font-face {
    font-family: "Lato";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/lato/Lato-Light.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 100;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/lato/Lato-LightItalic.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/lato/Lato-Regular.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/lato/Lato-Italic.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: normal;
    src: url("/fonts/lato/Lato-Bold.woff2");
  }

  @font-face {
    font-family: "Lato";
    font-weight: 900;
    font-style: italic;
    font-display: swap;
    src: url("/fonts/lato/Lato-BoldItalic.woff2");
  }

  :root {
    --background: 225 10% 97%;
    --foreground: 225 10% 9.8%;
    --muted: 225 10% 94%;
    --muted-foreground: 225 10% 57.06%;
    --popover: 225 10% 100%;
    --popover-foreground: 225 10% 9.8%;
    --card: 225 10% 100%;
    --card-foreground: 225 10% 9.8%;
    --border: 225 10% 90%;
    --input: 225 10% 90%;
    --primary: 10.91 84.62% 56.67%;
    --primary-foreground: 327 0% 100%;
    --secondary: 225 10% 91%;
    --secondary-foreground: 225 10% 9.8%;
    --accent: 225 10% 94%;
    --accent-foreground: 225 10% 9.8%;
    --destructive: 0 80.53% 55.69%;
    --destructive-foreground: 0 0% 100%;
    --ring: 225 10% 40%;
    --chart-1: 10.91 84.62% 56.67%;
    --chart-2: 225 10% 73%;
    --chart-3: 225 10% 50%;
    --chart-4: 225 10% 30%;
    --chart-5: 225 10% 15%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 225 10% 10%;
    --foreground: 225 10% 85%;
    --muted: 225 10% 14.62%;
    --muted-foreground: 225 10% 46.67%;
    --popover: 225 10% 7.45%;
    --popover-foreground: 225 10% 63.92%;
    --card: 225 10% 13%;
    --card-foreground: 225 10% 83.08%;
    --border: 225 10% 19.22%;
    --input: 225 1% 19.22%;
    --primary: 10.91 84.62% 56.67%;
    --primary-foreground: 327 0% 100%;
    --secondary: 225 10% 19%;
    --secondary-foreground: 225 10% 86.92%;
    --accent: 225 10% 13%;
    --accent-foreground: 225 10% 79.23%;
    --destructive: 0 80.85% 55.81%;
    --destructive-foreground: 0 0% 100%;
    --ring: 225 10% 76.92%;
    --chart-1: 10.91 84.62% 56.67%;
    --chart-2: 225 10% 77%;
    --chart-3: 225 10% 40%;
    --chart-4: 225 10% 24.9%;
    --chart-5: 225 10% 12.94%;
  }


  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}